@charset "UTF-8";
/*tableta de colores*/
/*mixin para media query*/
/*canvas*/
/*tamaños de pantallas*/
body {
  width: 100%;
  margin: 0;
  background: #FAF5F3;
}

p, .menu1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: Semi-bold 600;
}

/*menu respnsid*/
header {
  width: 100%;
  height: auto;
  background: #FAF5F3;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  box-shadow: 0 0 6px 0 #777;
}

ul {
  margin: 0;
  list-style: none;
  padding-top: 10px;
  display: flex;
  align-items: center;
  text-align: right;
}

li {
  font-family: helvetica;
  text-transform: uppercase;
  font-style: bold;
  color: #0488BB;
  display: block;
  padding: 5px 10px;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color: #0488BB;
  border-bottom: 4px solid #E64137;
}

@media (max-width: 720px) {
  header label {
    display: block;
  }

  .menu {
    position: absolute;
    background: white;
    width: 100%;
    margin-top: -100%;
    transition: 0.7s;
  }

  .menu ul {
    flex-direction: column;
    border-top: 1px solid #fffa;
  }

  #btn-menu:checked ~ .menu {
    margin: 0;
  }
}
@media screen and (min-width: 400px) {
  .princ {
    height: 310px;
    width: 100%;
    margin-top: -1em;
  }
}
@media screen and (min-width: 720px) {
  .princ {
    height: 310px;
    width: 100%;
    margin-top: -1em;
  }
}

.banner {
  background-image: url(../img/baner1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-top: -3%;
}

.baner {
  margin-top: 46%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: Semi-bold 600;
  font-style: italic;
  border-bottom: 1px solid white;
}

@media (max-width: 799px) {
  .baner {
    margin-top: 75%;
  }
}
.btn {
  border-radius: 20px;
  width: 100px;
}

.imgtar {
  border-radius: 8px;
  margin-bottom: 1px;
}

.link:hover {
  filter: brightness(70%);
}

.tituTar {
  font-size: 20px;
  margin-top: 0;
  color: black;
}

/* estilos de nosotros.html*/
.textNosotros {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 1.3em;
  text-align: center;
  transform: translateY(155px);
  text-transform: uppercase;
}

/*estilos de servicios.html*/
@media screen and (min-width: 400px) {
  .servicis {
    height: 310px;
    width: 100%;
    margin-top: -1em;
  }
}
@media screen and (min-width: 720px) {
  .servicis {
    height: 310px;
    width: 100%;
    margin-top: -1em;
  }
}

.banner2 {
  background-image: url(../img/baner2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-top: -3%;
}

.baner2 {
  color: white;
  margin-top: 46%;
  font-family: "Poppins", sans-serif;
  font-weight: Semi-bold 600;
  font-style: italic;
  border-bottom: 1px solid white;
}

@media (max-width: 799px) {
  .baner2 {
    margin-top: 75%;
  }
}
/*estilos de contacto*/
@media screen and (min-width: 400px) {
  .contacto {
    height: 310px;
    width: 100%;
    margin-top: -1em;
  }
}
@media screen and (min-width: 720px) {
  .contacto {
    height: 310px;
    width: 100%;
    margin-top: -1em;
  }
}

.banner3 {
  background-image: url(../img/baner3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-top: -3%;
}

.textContacto {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 1.3em;
  text-align: center;
  transform: translateY(155px);
  text-transform: uppercase;
}

#btnn {
  width: 130px;
  background-color: #E64137;
}

/*estilos nosotros*/
.centrado {
  width: 100%;
}

.iconoCentral {
  text-align: center;
}

.textImg {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}
@media screen and (min-width: 720px) {
  .textImg {
    display: flex;
    justify-content: space-between;
  }
}

.imgInfo {
  border-radius: 50%;
}

.contenidoNs, .contenidoNs2 {
  margin-right: 2em;
}
@media screen and (min-width: 720px) {
  .contenidoNs, .contenidoNs2 {
    transform: translateY(40px);
  }
}

.textImg2 {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}
@media screen and (min-width: 720px) {
  .textImg2 {
    display: flex;
    justify-content: space-between;
  }
}

.imgcen {
  text-align: center;
}

/*termino de nosotros*/
/*estilos de servicios.html*/
.centradoServ {
  width: 100%;
}

.centralserv {
  text-align: center;
  margin: 0;
}

/* fin estilos de servicios.html*/
.servicios {
  padding: 0 3%;
}
@media screen and (min-width: 400px) {
  .servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.servis {
  width: 93%;
  border-radius: 8px 8px 0 0;
  box-shadow: 4px 3px 5px -2px #999;
  box-sizing: border-box;
  border: 1px solid rgba(153, 153, 153, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center;
  background: white;
}
@media screen and (min-width: 400px) {
  .servis {
    width: calc(50% -1.7em);
    margin: 1 1 1em;
  }
}
@media screen and (min-width: 400px) {
  .servis {
    width: 47%;
  }
}
@media screen and (min-width: 1080px) {
  .servis {
    width: 23%;
  }
}

.imgser {
  border-radius: 8px 8px 0 0;
}

.textinf {
  font-family: "Poppins", sans-serif;
  color: #777;
}

.contactar {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
  background: #0488BB;
  display: inline-block;
  line-height: 2;
  padding: 0 1.2em;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 0.9em;
}
.contactar:hover {
  background: #025D80;
}

/*estilos de informacion ampliada de la pagina de servicios*/
body {
  margin: 0;
  width: 100%;
  padding: 0;
}

.contenserv {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 720px) {
  .contenserv {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

.infoProdu {
  width: 90%;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 1em;
}
@media screen and (min-width: 400px) {
  .infoProdu {
    margin-left: 2em;
  }
}
@media screen and (min-width: 720px) {
  .infoProdu {
    display: flex;
    justify-content: space-between;
    margin-top: 8em;
  }
}

.imgproduc {
  border-radius: 50%;
  box-shadow: 4px 3px 5px -2px #999;
}

.imgproduc-1 {
  border-radius: 50%;
  box-shadow: 4px 3px 5px -2px #999;
}

.imgproducc {
  border-radius: 50%;
  box-shadow: 4px 3px 5px -2px #999;
}

@media (max-width: 991px) {
  .imgproduc-1 {
    display: none;
  }
}
@media (min-width: 992px) {
  .imgproducc {
    display: none;
  }
}
/* fin de estilos de informacion ampliada de la pagina de servicios*/
.orgEvent {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 3em;
  margin-bottom: 3em;
}

#btn {
  background: #E64137;
  border: none;
}

#btn:focus {
  box-shadow: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  max-height: 150px;
  text-align: center;
  background: #E64137;
}

.icon-facebook, .icon-youtube, .icon-twitter {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 2em;
  padding: 0.1em;
}
.icon-facebook:hover, .icon-youtube:hover, .icon-twitter:hover {
  color: rgba(1, 17, 23, 0.6);
}

span {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

p, a, strong, label, input {
  font-family: "Poppins", sans-serif;
  font-style: initial;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-style: bold;
}

.btn {
  width: 100%;
}

.form-control:focus {
  box-shadow: none;
  border: none;
  box-shadow: 0.5px -0.5px 3px 1px #E64137;
}

.datos {
  margin: 1em;
  border-left: 1px solid rgba(2, 93, 128, 0.3);
  padding-left: 1em;
}
@media screen and (min-width: 720px) {
  .datos {
    transform: translateY(1em);
  }
}

.aside {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .mapa {
    width: 300px;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 1080px) {
  .mapa {
    width: 542px;
    height: 500px;
    margin-bottom: -1px;
  }
}

/*font-family*/
/*font-family: 'Farsan', cursive;*/
/*font-family: 'Quicksand', sans-serif;*/
