

.btn{
	width: 100%;
}

.form-control:focus{
	box-shadow: none;
	border: none;
	box-shadow:.5px -.5px 3px 1px #E64137;
}


.datos{
	margin: 1em;
	border-left: 1px solid rgba($color1, .3);
	padding-left: 1em;
	@include desde($media){
		transform: translateY(1em);
		
	}
}

.aside{
	width: 100%;
}

.mapa{

	@include desde($media){
	width: 300px;
	margin-bottom: 1em;
	
	}
	@include desde($grande){
	width: 542px;
	height: 500px;
	margin-bottom: -1px;
	}
}
