.footer{ 
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 150px;
	max-height: 150px;
	text-align: center;
	background: #E64137;
}

.icon-facebook, .icon-youtube, .icon-twitter{
	text-decoration: none;
	color: rgba(white, .6);
	font-size: 2em;
	padding:.1em;
	&:hover{
		color: rgba($color3, .6);

	}
}

span{
	font-size: 1.5em;
	color: rgba(white, .6);
	text-align: center;
}

p, a, strong, label, input{
	font-family: 'Poppins', sans-serif;
	font-style: initial;
} 

h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
	font-style: bold;
}
