.princ{
	@include desde($pequeña){
	height: 310px;
	width: 100%;
	margin-top: -1em;
	}
	@include desde($media){
	height: 310px;
	width: 100%;
	margin-top: -1em;
	}

}
.banner{
	background-image: url(../img/baner1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width:100%;
	min-height: 700px;
	margin-top: -3%
}
.baner{
	margin-top: 46%;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: Semi-bold 600;
	font-style: italic;
	border-bottom: 1px solid white;
}

@media(max-width: 799px){
	.baner{
		margin-top: 75%;
	}
}



.btn{
	border-radius: 20px;
	width: 100px;
}

.imgtar{
	border-radius: 8px;
	margin-bottom: 1px;
}

.link:hover{
	filter: brightness(70%);
}
.tituTar{
	font-size: 20px;
	margin-top: 0;
	color: black;
}






/* estilos de nosotros.html*/

.textNosotros{
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 1.3em;
	text-align: center;
	transform: translateY(155px);
	text-transform: uppercase;
}

/*estilos de servicios.html*/
.servicis{
	@include desde($pequeña){
	height: 310px;
	width: 100%;
	margin-top: -1em;
	}
	@include desde($media){
	height: 310px;
	width: 100%;
	margin-top: -1em;
	}

}
.banner2{
	background-image: url(../img/baner2.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
	max-height: 600px;
	margin: 0;
	padding: -1em;
}

.baner2{
	color: white;
	margin-top: 46%;
	font-family: 'Poppins', sans-serif;
	font-weight: Semi-bold 600;
	font-style: italic;
	border-bottom: 1px solid white;

}
@media(max-width: 799px){
	.baner2{
		margin-top: 75%;
	}
}

/*estilos de contacto*/
.contacto{
	@include desde($pequeña){
	height: 310px;
	width: 100%;
	margin-top: -1em;
	}
	@include desde($media){
	height: 310px;
	width: 100%;
	margin-top: -1em;
	}

}
.banner3{
	background-image: url(../img/baner3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-height: 600px;
}

.textContacto{
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 1.3em;
	text-align: center;
	transform: translateY(155px);
	text-transform: uppercase;
}

#btnn{
	width: 130px;
	background-color: #E64137;
}

